*{
    margin: 0;
    padding: 0;
}

.bg-img{
    /* background-image: url('../assets/img2.jpg'); */
    height: 100%;
    width: 100vw;
    background-position: center;
    background-size: cover;
    /* margin-top: -3rem; */
}

